html {
	background-color: #1c1c1c;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: antiquewhite;
}

body {
	max-width: min(100ch, 90%);
	margin: 0 auto;
	padding: 0 1rem;
}

p {
	font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
	p {
		font-size: 1rem;
	}
}

section {
	padding: 1.5rem 0;
}

li {
	font-size: 1.25rem;
	margin-block: 0.5rem;
}

@media screen and (max-width: 768px) {
	li {
		font-size: 1rem;
	}
}

.icon {
	cursor: pointer;
	width: 3rem;
	height: 3rem;
	margin: 1rem;
}

.font-small {
	font-size: 1rem;
	font-weight: 400;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.justify-evenly {
	justify-content: space-evenly;
}

.justify-start {
	justify-content: flex-start;
}

:root {
	--card-width: 300px;
	--card-height: calc(var(--card-width) / 1.5);
	--color-1: #eac69683;
	--color-2: #c8ae7d7e;
	--color-3: #86653986;
}

@property --rotate {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
}

.card {
	/* background: #191c29; */
	width: var(--card-width);
	min-width: var(--card-width);
	height: var(--card-height);
	padding: 3px;
	position: relative;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	font-size: 1.5em;
	/* color: rgb(88 199 250 / 0%); */
	cursor: pointer;
}

.card:hover {
	/* color: rgb(88 199 250 / 100%); */
	transition: color 1s;
}

.card:hover:before,
.card:hover:after {
	animation: none;
	opacity: 0;
}

.card::before {
	content: "";
	width: 103%;
	height: 104%;
	border-radius: 8px;
	background-image: linear-gradient(
		var(--rotate),
		var(--color-1),
		var(--color-2) 90%,
		var(--color-3)
	);
	position: absolute;
	z-index: -1;
	top: -2%;
	left: -1.5%;
	animation: spin 2.5s linear infinite;
}

.card::after {
	position: absolute;
	content: "";
	top: calc(var(--card-height) / 6);
	left: 0;
	right: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	transform: scale(0.8);
	filter: blur(calc(var(--card-height) / 6));
	background-image: linear-gradient(
		var(--rotate),
		var(--color-1),
		var(--color-2) 90%,
		var(--color-3)
	);
	opacity: 1;
	transition: opacity 0.5s;
	animation: spin 2.5s linear infinite;
}

@keyframes spin {
	0% {
		--rotate: 0deg;
	}
	50% {
		--rotate: 180deg;
	}
	100% {
		--rotate: 0deg;
	}
}

.project-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 4rem;
}

@media screen and (max-width: 768px) {
	.project-item {
		display: flex;
		flex-direction: column;
	}
}

.amazekart {
	background-image: url("/assets/images/amazekart.jpg");
	background-position: center;
	background-size: cover;
}
